<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div class="column" fxFlex="calc(23% - 20px)" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="start start">
    <h2>Recursos</h2>
    <mat-nav-list>
      <a mat-list-item href="#">Nuestros Agentes</a>
      <a mat-list-item href="#">Historias de Miembros</a>
      <a mat-list-item href="#">Video</a>
      <a mat-list-item href="#">Prueba Gratis</a>
    </mat-nav-list>
  </div>
  <div class="column" fxFlex="calc(23% - 20px)" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="start start">
    <h2>Compañia</h2>
    <mat-nav-list>
      <a mat-list-item href="#">Aliados Estrategicos</a>
      <a mat-list-item href="#">Terminos de Uso</a>
      <a mat-list-item href="#">Privacidad</a>
      <a mat-list-item href="#">Ayuda</a>
    </mat-nav-list>
  </div>
  <div class="column" fxFlex="calc(31% - 20px)" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="start start">
    <h2>Mantener contacto</h2>
    <mat-form-field appearance="outline">
      <mat-label>Ingresa tu email</mat-label>
      <input matInput type="email">
    </mat-form-field>
  </div>
  <div class="column" fxFlex="calc(23% - 20px)" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center start">
    <p>Copyright 2023 VITAL-CHECK Todos los derechos reservados</p>
  </div>
</div>


